<div class="header">
    <div class="header__blockout"></div>
    <div class="header__body">
        <div class="header__logo">
            <a href="/"><img src="../../static/mainApp/images/icons/logo3.png" alt=""></a>
        </div>
        <ul class="header__list">
            <li class="header__link"><a href="{% url 'shop' %}">Shop</a></li>
            <li class="header__link"><a href="#contact-form">Contact</a></li>
            <li class="header__link"><a href="{% url 'about' %}">About</a></li>
            <li class="header__link"><a href="{% url 'help' %}">Help</a></li>
        </ul>
        <div class="header__phone">
            <div class="header__ui">
                <div class="header__login">
                    <a class="header__login_logo" href="#"><img src="../../static/mainApp/images/icons/login.png"
                            alt=""></a>
                </div>
                <div class="header__basket">
                    <a class="header__basket_logo"><img src="../../static/mainApp/images/icons/basket.png" alt=""></a>
                </div>
            </div>
            <div class="header__burger">
                <div class="header__menu1"></div>
                <div class="header__menu2"></div>
                <div class="header__menu3"></div>
            </div>
        </div>
        <div class="header__phone_menu">
            <div class="header__cross">
                <div class="header__cross_line"></div>
                <div class="header__cross_line2"></div>
                <div class="header__cross_line3"></div>
            </div>
            <div class="header__phone_line"></div>
            <ul class="header__phone_list">
                <li class="header__phone_link"><a href="{% url 'shop' %}">Shop</a></li>
                <li class="header__phone_link"><a href="#contact-form">Contact</a></li>
                <li class="header__phone_link"><a href="{% url 'about' %}">About</a></li>
                <li class="header__phone_link"><a href="{% url 'help' %}">Help</a></li>
            </ul>
        </div>
        <div class="header__line"></div>
    </div>
</div>