{% load static %}

<html>

<head>
    <title>Skorzina</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainApp/css/style.css' %}">

</head>

<body>
    <div class="wrapper">
        <div class="app_container">
            <video muted autoplay loop class="app__video">
                <source src="../../static/mainApp/images/fight.webm" type="video/webm">
                <source src="../../static/mainApp/images/fight.mp4" type="video/mp4" ; codecs="avc1.42E01E, mp4a.40.2">
            </video>
            <div class="app">
                <div class="header">
                    <div class="header__body">
                        <div class="header__logo">
                            <a href="/"><img src="../../static/mainApp/images/icons/logo3.png" alt=""></a>
                        </div>
                        <ul class="header__list">
                            <li class="header__link"><a href="#">Shop</a></li>
                            <li class="header__link"><a href="#">Contact</a></li>
                            <li class="header__link"><a href="#">About</a></li>
                            <li class="header__link"><a href="#">Help</a></li>
                        </ul>
                        <div class="header__burger">
                            <div class="header__menu1"></div>
                            <div class="header__menu2"></div>
                            <div class="header__menu3"></div>
                        </div>
                        <div class="header__ui">
                            <div class="header__login">
                                <a href="#"><img src="../../static/mainApp/images/icons/login.png" alt=""></a>
                            </div>
                            <div class="header__basket"><img src="../../static/mainApp/images/icons/basket.png" alt="">
                            </div>
                        </div>
                        <div class="header__line"></div>
                    </div>
                </div>
                <div class="app__underline"></div>
            </div>
        </div>

        <main class="page">
            <h2 class="page__title">Gooooods</h2>
            <div class="page__line"></div>
            <div class="page__container">
                <div class="page__list">
                    <a class="page__product" href="#">
                        <div class="product__item">
                            <img src="../../static/mainApp/images/goods/3.jpg">
                        </div>
                        <div class="product__price">
                            <div class="price__text">BUY</div>
                        </div>
                    </a>
                    <a class="page__product" href="#">
                        <div class="product__item">
                            <img src="../../static/mainApp/images/goods/3.jpg">
                        </div>
                        <div class="product__price">
                            <div class="price__text">BUY</div>
                        </div>
                    </a>
                    <a class="page__product" href="#">
                        <div class="product__item">
                            <img src="../../static/mainApp/images/goods/3.jpg">
                        </div>
                        <div class="product__price">
                            <div class="price__text">BUY</div>
                        </div>
                    </a>
                    <a class="page__product" href="#">
                        <div class="product__item">
                            <img src="../../static/mainApp/images/goods/3.jpg">
                        </div>
                        <div class="product__price">
                            <div class="price__text">BUY</div>
                        </div>
                    </a>
                    <a class="page__product" href="#">
                        <div class="product__item">
                            <img src="../../static/mainApp/images/goods/3.jpg">
                        </div>
                        <div class="product__price">
                            <div class="price__text">BUY</div>
                        </div>
                    </a>
                    <a class="page__product" href="#">
                        <div class="product__item">
                            <img src="../../static/mainApp/images/goods/3.jpg">
                        </div>
                        <div class="product__price">
                            <div class="price__text">BUY</div>
                        </div>
                    </a>
                    <a class="page__product" href="#">
                        <div class="product__item">
                            <img src="../../static/mainApp/images/goods/3.jpg">
                        </div>
                        <div class="product__price">
                            <div class="price__text">BUY</div>
                        </div>
                    </a>
                    <a class="page__product" href="#">
                        <div class="product__item">
                            <img src="../../static/mainApp/images/goods/3.jpg">
                        </div>
                        <div class="product__price">
                            <div class="price__text">BUY</div>
                        </div>
                    </a>
                    <a class="page__product" href="#">
                        <div class="product__item">
                            <img src="../../static/mainApp/images/goods/3.jpg">
                        </div>
                        <div class="product__price">
                            <div class="price__text">BUY</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="page__connect">
                <div class="connect__container">
                    <div class="connect__title">Contact with us</div>
                    <div class="connect__line"></div>
                    <input placeholder="Name" class="page__name" type="text">
                    <input placeholder="Telephone" class="page__phone" type="tel">
                    <input class="page__submit" type="submit" value="Submit">
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="footer__block">
                <div class="footer__text">
                    <div class="footer_name">Skorz</div>
                    <div class="footer__git"><a href="https://github.com/Skorzi">GIT</a></div>
                    <div class="footer__link"><a
                            href="https://www.youtube.com/watch?v=vJGvSbHmeco&t=84s&ab_channel=ZimautAnimation">Link on
                            video</a></a></div>
                </div>
            </div>
        </footer>
    </div>


</body>

</html>