.page {
}
.page__about_text {
    display: block;
    height: 690px;
}
.page__title {
    font-size: 64px;
    color: black;
}

.page__img{
    height: 90%;
    width: 80%;
    margin: 0 auto;
    img{
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}