@import "ownStyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', cursive;
    background-color: #fffcef;
}

body._lock{
    overflow: hidden;
}

.wrapper {
}

.app_container {
    width: 100%;
    position: relative;
    height: 800px;
    
}

.app {

}
.header {
    background-color: white;

}
.header__body {
    position: relative;
    height: 150px;
    display: flex;
    justify-content: space-between;
    transition-duration: 0.8s;

    &:hover{
        background-color: black;
        opacity: 0.8;
        transition-duration: 0.8s;

        .header__link{
            a{
                color: #fffcef;
            }
        }
        .header__logo, .header__basket, .header__login{
            transition-duration: 0.8s;
            filter: invert(100%) sepia(39%) saturate(616%) hue-rotate(14deg) brightness(108%) contrast(101%);
        }

        .header__menu1, .header__menu2, .header__menu3 {
            background-color: #fffcef;
        }

        .header__line{
            display: none;
        }

    }

}

.header__phone_menu_trasplate {
    display: none;
}

.header__phone_menu_trasplate._active {
    display: block;
}

.header__phone_menu{
    display: block;
    position: fixed;
    right: -100%;
    top: 0;
    background-color: #fff;
    opacity: 1;
    width: 33%;
    height: 100vh;
    transition-duration: 0.8s;
    &._active{
        right: 0;
    }
}


.header__phone_list {
    padding: 0 0 0 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.header__phone_link {
    a{
        color: black;
        font-size: 32px;
        text-align: center;
    }
}

.header__cross {
    position: absolute;
    right: 5;
}
.header__cross_line {
    transform: rotate(-45deg) translate(-6px, 6px);
}
.header__cross_line3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

.header__cross_line2{
    opacity: 0;
}

.header__phone_line{
    height: 3px;
    background-color: black;
    width: 100%;
    margin: 45px 0 0 0px;
}


.header__cross_line, .header__cross_line2, .header__cross_line3{
    width: 33px;
    height: 3px;
    background-color: black;
    margin: 7px 0;
    transition: all 0.3s ease 0s;
}


.menu__bar1, .menu__bar2, .menu__bar3 {
    width: 33px;
    height: 3px;
    background-color: #fff;
    margin: 7px 0;
    transition: all 0.3s ease 0s;
}

.header__menu{
    display: flex;
    justify-content: space-between;
    max-width: 100px;
}


.header__menu1, .header__menu2, .header__menu3 {
    width: 33px;
    height: 3px;
    background-color: #000;
    margin: 7px 0;
    transition: all 0.3s ease 0s;
}


._active .header__menu1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}

._active .header__menu2 {
      opacity: 0;
}

._active .header__menu3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

.header__logo {
    padding: 60px 0 0 50px;
    //background: url(../images/logo2.png) no-repeat;
    height: 70px;

    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 700px;
    margin: 0 auto;
    padding: 65px 0 0 0;
}

.header__list ._active{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
}

.header__link {
    a{
        color: black;
        font-size: 32px;
    }
    a:hover{
        text-decoration: underline;
    }

    
}
.header__ui {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px 70px 0 0;
}
.header__login {
    height: 50px;   
    
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.header__basket {
    height: 50px;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

}

.header__burger{
    padding: 88px 30px 0 0;
    display: none;
}

.header__line {
    position: absolute;
    bottom: 0;
    margin: 0 45px 0 0;
    width: 100%;
    height: 6px;
    background-color: black;
}
.app__video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page {
    margin: 23px auto;
    max-width: 1450px;
    
}

.app__underline {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 7px;
    background-color: black;
    margin: 0 auto;
}

.page__title {
    font-size: 45px;
    text-align: center;
    
}
.page__line {
    background-color: black;
    height: 5px;
    width: 100%;
}
.page__container {

}
.page__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.page__product {
    width: 450px;
    margin: 20px 15px;
    
}
.product__item {
    height: 430px;
    background-color: black;
    border-radius: 15px;
    border: solid black 2px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }
}
.product__price {
    border: solid black 2px;
    margin: 10px 0 0 0;
    height: 60px;
    background-color: black;
    border-radius: 21px;
    cursor: pointer;

    &:hover{
        background-color: white;

        .price__text{
            letter-spacing: 0;
            color: black;
        }

    }
}

.price__text{
    letter-spacing: 24px;
    margin: 17px auto;
    text-align: center;
    color: #fffcef;
    font-size: 32px;
}

.price__cost{
    opacity: 0;
    text-align: center;
    color: black;
    font-size: 32px;
    margin: 17px auto;
}

.page__connect {
    width: 100%;
}

.connect__container{
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.connect__title {
    font-size: 45px;
}

.connect__line{
    height: 6px;
    background-color: black;
    width: 80%;
}

.page__phone {
    border: solid black 2px;
    width: 520px;
    height: 51px;
    font-size: 29px;
    padding: 0 0 0 10px;
    margin: 20px 0 0 0;

}
.page__name {
    border: solid black 2px;
    margin: 20px 0 0 0;
    width: 520px;
    height: 51px;
    font-size: 29px;
    padding: 0 0 0 10px;
}
.page__submit {
    border: solid black 2px;
    width: 400px;
    height: 43px;
    font-size: 27px;
    margin: 20px 0 0 0;

}
.footer {
    width: 100%;
}
.footer__block {
    height: 110px;
    background-color: black;
}
.footer__text {
    text-align: center;
    padding: 17px 0 0 0;
}

.footer__name{
    font-size: 36px;
    color: white;
}

.footer__git{
    a{
        color: white;
        font-size: 25px;
    }

}

.footer__link{
    a{
        color: white;
        font-size: 25px;
    }

}

.header__phone{
    display: flex;
}

.header__phone._lock{
    display: none;
}

@media screen and (max-width: 1490px){
    .page{
        max-width: 975px;
    }
    
    
}

@media screen and (max-width: 1145px){
    .header__list{
        min-width: 520px;
    }
    
}

@media screen and (max-width: 975px){
    .page{
        width: 100%;
    }
    

    .header__logo{
        height: 50px;
        padding: 73px 0 0 21px;
    }

    .header__ui{
        padding: 61px 15px 0 0;
    }
}

@media screen and (max-width: 830px){
    .page__name, .page__phone{
        width: 95%;
        height: 50px;
        font-size: 32px;
    }
    .page__submit{
        width: 99%;
    }
    .header__list{
        display: none;
    }
    .header__burger{
        display: block;
    }

    .header__login, .header__basket{
        height: 38px;
    }


}



